.add_course_page {
  padding: 100px 0 50px 0;
  margin-bottom: -50px;
  min-height: 90vh;
  width: 100%;
  background-image: url("https://infobiznes.verivel.ru/wp-content/uploads/2019/06/fon-sajta-po-zarabotku-icon-pattern-gray.png");
}
.add_course_page_box {
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: white;
}
.add_course_page_box span {
  width: 150px;
  display: inline-block;
}
.add_course_page_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.5);
}
.add_course_page_box input,
option {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  width: 100%;
  padding: 5px;
  outline: none !important;
  font-size: 25px;
  border: none;
  margin-bottom: 10px;
  border-bottom: 2px solid #ff5f25;
}
select {
  font-size: 25px;
  width: 100%;
  height: 50px;
  font-weight: bold;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid #ff5f25;
  outline: none !important;
  font-family: "Amatic SC", cursive;
}
.modalBackground {
  font-size: 16px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal {
  position: relative;
  color: black;
  padding: 30px;
  width: 900px;
  background-color: white;
}
.add_course_page_box button {
  width: 110px;
  display: block;
  background-color: #ff5f25;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  margin: 20px auto 0;
  font-family: "Amatic SC", cursive;
}
.add_course_page_box button:hover {
  color: black;
}
