.blockAuth {
  position: relative;
  top: 100px;
  text-align: center;
  margin: auto;
  min-height: 90vh;
}

.authForm input,
option {
  font-size: 25px;
  width: 650px;
  height: 50px;
  margin-bottom: 30px;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid #ff5f25;
  outline: none !important;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

select {
  font-size: 15px;
  width: 650px;
  height: 50px;
  margin-bottom: 30px;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid #ff5f25;
  outline: none !important;
  font-family: "Amatic SC", cursive;
  /*font-weight: bold;*/
}

.blockAuth button {
    font-size: 20px;
    color: white;
    background-color: #ff5f25;
    margin-top: 10px;
    border: 1px solid #ff5f25;
    border-radius: 5px;
    padding: 5px 10px;
}

.modalBackground {
    font-size: 16px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
    position: relative;
    color: black;
    padding: 30px;
    width: 900px;
    background-color: white;
}
