.categories {
  padding: 30px 0 70px 0;
}
.categories_title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.categories_box {
  display: flex;
  justify-content: center;
}
.category {
  padding: 10px;
  margin: 10px;
  height: 350px;
  width: 350px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  position: relative;
  cursor: pointer;
}
.category:hover {
  top: -10px;
}
.category_image {
  width: 100%;
  height: 250px;
}
.category_title {
  font-size: 35px;
  margin-top: 20px;
  font-weight: bold;
}
