.comment_add_panel {
  margin: 20px auto 0;
  border-top: 2px solid #000;
  padding: 10px 0;
}
.comment_add_panel input {
  display: block;
  width: 70%;
  margin: 0 auto 10px;
  height: 30px;
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  outline: none !important;
  border-bottom: 2px solid #ff5f25;
}
.comment_add_panel button {
  min-width: 110px;
  display: block;
  background-color: #ff5f25;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}
.comment_add_panel button:hover {
  color: black;
}
