.compare_page{
    font-size: 35px;
    padding: 100px 0 50px;
    font-weight: bold;
    margin-bottom: -50px;
    min-height: 90vh;
    background-image: url("https://infobiznes.verivel.ru/wp-content/uploads/2019/06/fon-sajta-po-zarabotku-icon-pattern-gray.png");
}
.compare_page_box{
    width: 1000px;
    height: 500px;
    display: flex;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    background-color: white;
}
.compare_page_item{
    position: relative;
    width: 50%;
    height: 100%;
    padding: 20px;
    border-right: 2px solid lightgray;
}
.compare_page_item button{
    min-width: 110px;
    display: block;
    background-color: #ff5f25;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.compare_page_item button:hover{
    color: black;
}
.compare_page_item span{
    color: #ff5f25;
    margin-right: 20px;
}