.auth_page {
  padding: 100px 0 0 0;
  width: 100%;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.3);
  margin-bottom: -50px;
  min-height: 90vh;
  background-image: url("https://infobiznes.verivel.ru/wp-content/uploads/2019/06/fon-sajta-po-zarabotku-icon-pattern-gray.png");
}
.auth_page_title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.blockAuth {
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.3);
  width: 700px;
  margin: 50px auto;
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}
.authForm input {
  display: block;
  width: 70%;
  margin: 0 auto 30px;
  height: 30px;
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  outline: none !important;
  border-bottom: 2px solid #ff5f25;
}
.button_auth {
  width: 110px;
  display: block;
  background-color: #ff5f25;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}
.button_auth:hover {
  color: black;
}
.auth_error {
  font-weight: bold;
  font-size: 20px;
  margin-top: -30px;
}
