.courses {
  padding: 40px 0 70px 0;
  margin-bottom: -50px;
  width: 100%;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.3);
}
.courses_title {
  margin-bottom: -20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.courses_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cours {
  padding: 15px;
  width: 700px;
  height: 300px;
  margin: 60px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 30px;
  position: relative;
}
.cours_button {
  position: absolute;
  top: 80px;
  right: 10px;
}
.cours_button button {
  width: 100%;
  display: block;
  background-color: #ff5f25;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.cours_button button:hover {
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.5);
}
.cours_title {
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center;
  border-bottom: 2px solid #ff5f25;
}
.cours_callback {
  padding: 10px;
  position: absolute;
  top: 220px;
  left: 5%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  background-color: #ff5f25;
  color: white;
  height: 180px;
  width: 90%;
}
.cours_email {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
}
.cours_open {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 150px;
  right: 10px;
  color: white;
  cursor: pointer;
}
.cours_open:hover {
  color: black;
}
